@font-face {
  font-family: "tungsten bold";
  src: url(Tungsten-Bold.ttf);
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}
#main-container * {
  position: absolute;
}
#main-container {
  position: absolute;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  border: solid 1px #282828;
  overflow: hidden;
  background: #efeff0;
  /* left: 50%;
  transform: translateX(-50%); */
}
#banner{
    width: 300px;
    height: 250px;
}
#bg-exit {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.copy{
    font-family: "tungsten bold";
    font-size: 36px;
    line-height: 31px;
    width: 285px;
    left: 15px;
    top: 85px;
    font-weight: 500;
    left: -120px;
}
.copy span{
    color: #cc092f;
}
.copy sup{
    font-size: 9px;
    margin-top: -10px;
    margin-left: 1px;
}
#green_angle{
    transform: translate(0px, 60px);
}
#terms{
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    left: 15px;
    bottom: 5px;
    color: #6a6b6d;
}
#cta{
    font-family: "tungsten bold";
    background-color: #6dbdb1;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    border-radius: 5px;
    left: 15px;
    bottom: 22px;
    z-index: 1;
    letter-spacing: 0.6px;
    bottom: -20px;
}
#logo{
  width: 71px;
  left: 150px;
  bottom: 51px;
}
.retina {
  /*    for display on retina screens images created @2x actual dimensions then scaled back by 50%.
  images are scaled from top left, which effects css when wanting to use other alignment
  e.g. bottom:0; right:0; also requires transform-origin:bottom right;
  02/2016 webkit browsers:
  images including their containers must be block or inline-block.
  if css display:none or display:inline then transforms fail.
  */
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;

  /* image-rendering: auto; */
  /*image-rendering: crisp-edges;*/
}